extends ../template

block title
    title= response.error

block body
    main
        div(class="error-container")
            div(class="error-card")
                p(class="error-card__header")= response.statusCode + " " + response.error
                p(class="error-card__text")= response.message
            a(class='login-form__link' href="/") Вернуться на главную

