extends ../template

block additionalScripts

block title
    title= seller.user.name

block content
    div(class='profile__container')
        div(class='profile__card')
            p(class='profile__card-name') Имя продавца
            p(class='profile__card-content')= seller.user.name
        div(class='profile__card')
            p(class='profile__card-name') Описание продавца
            p(class='profile__card-content')= seller.description
        div(class='profile__card')
            a(class='profile__card-link' href="/catalogue?page=1&seller_id=" + seller.id) Перейти к товарам продавца